*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: white; 
    font-family: "Unbounded", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(login-bg2.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.forgotpass {
    width: 550px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    padding: 30px 40px;
}

.forgotpass h1{
    font-size: 30px;
    text-align: center;
    margin: 10px;
    
}

.forgotpass h2{
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    margin: 10px;
}

.forgotpass p{
    font-size: 15px;
    text-align: center;
    margin: 10px;
}